<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/pages-style/dashboard.css">
</head>
<body class="bg">

    <div class="container-fluid p-0 d-flex h-100">
        <%- include('../partials/navbar') %>
        <%- include('../partials/header') %>
        
            <div class="main-panel">
                <div class="main">
                    <h2 class="p-4" style="font-weight: bold;">Selamat Datang <%= user.username %></h2>
                    <div class="grey-area p-4">
                        <h1 class="mt-4 px-2" style="font-weight: bold;">Make your own food, stay at <span style="color: #F8B023;">Home</span>!</h1>
                        <div class="separator my-4"></div>
                        <h2 class="px-3">Rekomendasi</h2>
                        
                        <div id="carouselExampleIndicators" class="food carousel slide">
                            <div class="carousel-inner">
                            
                                <div class="carousel-item active innercar">
                                    <div class="row g-3">

                                        <% for(let i=0; i<4; i++) { %>
                                        <div class="bookmark-card col-3">
                                            <a href="/makanan/<%= dataMakanan[i].nama_makanan %>" class="card" style="text-decoration: none;">
                                                <img class="card-img card-img-top" src="<%= dataMakanan[i].path_gambar %>" alt="">
                                                <div class="card-body">
                                                    <h6 class="mt-3" style="font-weight: bold;"><%= dataMakanan[i].nama_makanan %></h6>
                                                </div>
                                            </a>
                                        </div>
                                        <% } %>

                                    </div>
                                </div>

                                
                                <% for (let i=4; i<dataMakanan.length; i++) { %>
                                <% if (i%4 == 0) { %>
                                <div class="carousel-item">
                                    <div class="row g-3">
                                <% } %>
                            
                                        <div class="bookmark-card col-3">
                                            <a href="/makanan/<%= dataMakanan[i].nama_makanan %>" class="card" style="text-decoration: none;">
                                                <img class="card-img card-img-top" src="<%= dataMakanan[i].path_gambar %>" alt="">
                                                <div class="card-body">
                                                    <h6 class="mt-3" style="font-weight: bold;"><%= dataMakanan[i].nama_makanan %></h6>
                                                </div>
                                            </a>
                                        </div>
                                
                                <% if ((i+1)%4 == 0 || dataMakanan[i]._id == dataMakanan[dataMakanan.length-1]._id) { %>
                                    </div>
                                </div>
                                <% } %>
                                <% } %>
                               
                            </div>
                            <div class="navigation-btn">
                                <button class="arrow-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <img src="/src/icon/arrow-left.svg" class="" aria-hidden="true">
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <a href="/makanan/list-makanan" class="btn btn-primary" style="border-radius: 16px; width: 20%;">
                                    <span style="font-weight: bold;">Semua Makanan</span>
                                </a>
                                <button class="arrow-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <img src="/src/icon/arrow-right.svg" class="" aria-hidden="true">
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    
       
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="/script/dashboard.js"></script>
</html>